.page-title{
	font-size:20px;
}
.page-nav{
	padding:10px;
	background-color:#ccc;
	margin-bottom:30px;
}
.panel,
.panel-default{
	padding:30px;
	/*background-color: rgba(242, 255, 79, 0.3);*/
}
.panel-heading{
	background-color: rgba(187, 200, 57, 0.78);
}
.bgcolor{
	padding:30px;
	/*background-color: rgba(242, 255, 79, 0.3);*/
}
.nav-home,
.nav-quit,
.nav-username,
.nav-register,
.nav-login{
	margin:0 10px;
}

.err-info{
	color:#f00;
}
